<ons-page ng-controller="Page1Controller as $ctrl" ng-init="$ctrl.init()" ng-infinite-scroll="$ctrl.more">
    <!-- ツールバー -->
    <ons-toolbar>
        <div class="left">
            <ons-toolbar-button ng-click="splitter.left.open()" ons-if-orientation="portrait">
                <ons-icon icon="ion-navicon, material:md-menu" size="32px, material:24px">
            </ons-toolbar-button>
        </div>
        <!-- タイトル -->
        <div class="center">Page1 (splitter-content)</div>
    </ons-toolbar>

    <p>This is the first page.</p>

    <!-- ボタン -->
    <ons-button ng-click="ctrl.push()">Push page</ons-button>

</ons-page>