/* テーマカラー*/
$primary: #009688;

/* ボタン */
.button, .button:active, .button--material, .button--material:active {
    background-color: $primary;
}

/* ナビゲーションバー */
.navigation-bar--material {
    background-color: $primary;
}
